<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fos9we.fm.dao.extend.ProductExtendMapper">

  <select id="findAllProduct" resultMap="ProductExtendResultMap">
    SELECT * 
    FROM fm_product
    
  </select>

  <select id="findProductByCategory" parameterType="long" resultMap="ProductExtendResultMap">
    SELECT * 
    FROM fm_product
    WHERE category_id = #{id}
  </select>

  <select id="findById" parameterType="long" resultMap="ProductExtendResultMap">
    SELECT * 
    FROM fm_product
    WHERE id = #{id}
  </select>
  <select id="findByName"  parameterType="String"  resultMap="ProductExtendResultMap">
    SELECT * 
    FROM fm_product
    WHERE title LIKE CONCAT(CONCAT('%', #{name}), '%')
  </select>
  <select id="findAllSupply" resultMap="ProductExtendResultMap">
    SELECT * 
    FROM fm_product
    WHERE state='采购'
  </select>
  <select id="findByNameDemand"  parameterType="String"  resultMap="ProductExtendResultMap">
    SELECT * 
    FROM fm_product
    WHERE title LIKE CONCAT(CONCAT('%', #{name}), '%') AND state='采购'
  </select>
  <select id="findDemandByCategory" parameterType="long" resultMap="ProductExtendResultMap">
    SELECT * 
    FROM fm_product
    WHERE category_id = #{id} AND state='采购'
  </select>
  <resultMap id="ProductExtendResultMap"
             type="com.fos9we.fm.bean.extend.ProductExtend"
             extends="com.fos9we.fm.dao.ProductMapper.BaseResultMap">
    <association
            property="category"
            column="category_id"
            select="com.fos9we.fm.dao.CategoryMapper.selectByPrimaryKey"></association>
    <association
            property="user"
            column="user_id"
            select="com.fos9we.fm.dao.UserMapper.selectByPrimaryKey"></association>
  </resultMap>

</mapper>